[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest.git
[submodule "external/estl"]
	path = external/estl
	url = https://github.com/LuxAtrumStudio/estl
